@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    background-color: var(--light-gray);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    margin: 3rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    color: var(--dark-blue);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-light {
        font-size: 3rem;
        font-weight: 200;
    }

    &-dark {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &-paragraph {
        font-size: 1.5rem;
        text-align: center;
        color: var(--gray-blue);
        font-weight: 200;
        width: 50rem;
        margin-bottom: 3rem;
    }
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;

    .cards-container {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;

        .card {
            font-size: 1.5rem;
            background-color: #fff;
            box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.2);
            width: 40rem;
            height: 30rem;
            border-radius: .5rem;
            padding: 3rem 4rem;

            display: flex;
            justify-content: left;
            flex-direction: column;

            &-heading {
                margin-bottom: 1rem;
                color: var(--dark-blue);
            }

            &-paragraph {
                color: var(--gray-blue);
            }

            &-icon {
                margin-top: auto;
                align-self: flex-end;
            }

            &-supervisor {
                border-top: .5rem solid var(--cyan);
                transform: translateY(50%);
            }

            &-team-builder {
                border-top: .5rem solid var(--red);
            }

            &-karma {
                grid-column: 2 / 3;
                border-top: .5rem solid var(--orange);
            }

            &-calculator {
                border-top: .5rem solid var(--blue);
                transform: translateY(-50%);
            }
        }
    }
}

footer {
    margin-top: 4rem;

    .attribution {
        font-size: 1.1rem;
        text-align: center;

        & a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media only screen and (max-width: 1300px) {
    html, body {
        font-size: 50%;
    }
}

@media only screen and (max-width: 1050px) {
    html, body {
        font-size: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .outer {
        margin-top: 3rem;

        .cards-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .card {
                &-karma {
                    border-top: .5rem solid var(--orange);
                    grid-column: 1 / 1;
                }
    
                &-calculator {
                    border-top: .5rem solid var(--blue);
                    transform: translateY(0);
                }
    
                &-supervisor {
                    border-top: .5rem solid var(--cyan);
                    transform: translateY(0);
                }
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .container {
        margin: 12rem 0;
    }

    .header {
        width: 75%;

        &-paragraph {
            width: 100%;
        }
    }

    .outer {
        .cards-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);

            .card {
                &-karma {
                    border-top: .5rem solid var(--orange);
                    grid-column: 1 / 1;
                }
    
                &-calculator {
                    border-top: .5rem solid var(--blue);
                    transform: translateY(0);
                }
    
                &-supervisor {
                    border-top: .5rem solid var(--cyan);
                    transform: translateY(0);
                }
            }
        }
    }
}