@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --dark-violet-1: hsl(256, 26%, 20%);
    --gray-blue-1: hsl(216, 30%, 68%);
    --dark-violet-2: hsl(270, 9%, 17%);
    --gray-blue-2: hsl(273, 4%, 51%);

    --container-width: 60%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "DM Serif Display", sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.navigation {
    background-color: #fff;
    font-size: 1.3rem;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: var(--gray-blue-2);
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem auto;
    width: var(--container-width);
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__hamburger {
        display: none;
        background: transparent;
        font-size: 1.7rem;
        padding: 0.7rem 1.1rem;
        border: 0.2rem solid var(--dark-violet-1);
        font-weight: 100;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__nav-items {
        list-style-type: none;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav-item {
        transition: all .2s;

        &:hover {
            color: var(--dark-violet-1);
        }

        &:not(:last-child) {
            margin: 1rem;
        }

        &:last-child {
            margin-left: 1rem;
        }
    }

    &__btn {
        color: var(--dark-violet-1);
        border: .2rem solid var(--dark-violet-1);
        display: inline-block;

        &:hover {
            background-color: var(--dark-violet-1);
            color: #fff;
        }
    }
}

.header {
    background-color: var(--dark-violet-1);
    color: #fff;
    padding: 10rem 0;
    position: relative;

    &__right-pattern {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__container {
        width: var(--container-width);
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &__heading-container {
        width: 45%;
    }

    &__small-border {
        width: 30%;
        border-top: .1rem solid #fff;
    }

    &__heading {
        font-size: 7rem;
        font-weight: 400;
        margin: 5rem 0 3rem;
        line-height: 6rem;
        width: 95%;
    }

    &__paragraph {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: "Karla", sans-serif;
        line-height: 2.5rem;
    }

    &__btn {
        color: #fff;
        border: 2px solid #fff;
        margin-top: 3rem;

        &:hover {
            background-color: #fff;
            color: var(--dark-violet-1);
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__left-pattern {
        position: absolute;
        bottom: -62%;
        left: 0;
        z-index: 1;
    }
}

.content {
    margin: 15% auto;
    width: var(--container-width);
    max-width: 100%;

    &__small-border {
        width: 15%;
        border-top: .1rem solid var(--gray-blue-1);
    }

    &__heading {
        font-size: 7rem;
        font-family: "DM Serif Display", sans-serif;
        color: #292626;
        margin: 4rem 0 6rem 0;
    }

    &__grid-items {
        margin-bottom: 15rem;

        display: grid;
        grid-template-columns: repeat(auto-fill, 15rem);
        grid-gap: 2rem;

        .grid {
            &__grid-item {
                display: flex;
                flex-direction: column;
            }

            &__icon {
                margin-bottom: 3rem;
                align-self: flex-start;
            }

            &__heading {
                font-size: 3rem;
                color: #292626;
                margin-bottom: 2rem;
            }

            &__paragraph {
                font-size: 1.5rem;
                font-weight: 400;
                font-family: "Karla";
                color: var(--gray-blue-2);
                letter-spacing: .05rem;
            }
        }
    }

    &__cta {
        background-color: var(--dark-violet-1);
        color: #fff;
        position: relative;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cta-heading {
        font-family: "DM Serif Display", sans-serif;
        font-size: 5rem;
        font-weight: 400;
        padding: 5rem 7rem;
        width: 52%;
    }

    &__button-container {
        margin-right: 5rem;
        z-index: 1;
    }

    &__btn {
        color: #fff;
        border: 2px solid #fff;

        &:hover {
            cursor: pointer;
            background-color: #fff;
            color: var(--dark-violet-1);
        }
    }

    &__cta-pattern {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.btn {
    background-color: transparent;
    font-family: "Karla";
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 2.5rem;
    transition: all .4s;
}

.footer {
    background-color: #f5f5f5;
    font-size: 1.3rem;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: var(--gray-blue-2);
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem auto;
    position: relative;

    &__container {
        width: var(--container-width);
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__top {
        padding: 5rem 0 3rem 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__pattern-bottom {
        position: absolute;
        top: 0;
        left: -50%;
        z-index: -1;
    }

    &__social-container > img {
        margin: 0 .5rem;

        &:hover {
            cursor: pointer;
            background-color: var(--dark-violet-1);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__grid-item {
        list-style-type: none;

        & > :first-child {
            margin: 4rem 0 3rem;
        }

        & > li > a {
            color: var(--dark-violet-1);
            display: inline-block;
            margin-bottom: 1rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.attribution {
    font-size: 1.1rem;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        &__hamburger {
            display: block;
        }

        &__nav-items {
            display: none;
            width: 100%;
            flex-direction: column;
        }

        &__nav-items.show {
            display: flex;
        }
    }
}

@media screen and (max-width: 1440px) {
    .navigation {
        width: 80%;
    }

    .header {
        &__container {
            width: 80%;
        }
    }
}