@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
:root {
  --dark-violet-1: hsl(256, 26%, 20%);
  --gray-blue-1: hsl(216, 30%, 68%);
  --dark-violet-2: hsl(270, 9%, 17%);
  --gray-blue-2: hsl(273, 4%, 51%);
  --container-width: 60%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "DM Serif Display", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.navigation {
  background-color: #fff;
  font-size: 1.3rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: var(--gray-blue-2);
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 2rem auto;
  width: var(--container-width);
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__hamburger {
  display: none;
  background: transparent;
  font-size: 1.7rem;
  padding: 0.7rem 1.1rem;
  border: 0.2rem solid var(--dark-violet-1);
  font-weight: 100;
  cursor: pointer;
}

.navigation__hamburger:focus {
  outline: none;
}

.navigation__nav-items {
  list-style-type: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__nav-item {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__nav-item:hover {
  color: var(--dark-violet-1);
}

.navigation__nav-item:not(:last-child) {
  margin: 1rem;
}

.navigation__nav-item:last-child {
  margin-left: 1rem;
}

.navigation__btn {
  color: var(--dark-violet-1);
  border: 0.2rem solid var(--dark-violet-1);
  display: inline-block;
}

.navigation__btn:hover {
  background-color: var(--dark-violet-1);
  color: #fff;
}

.header {
  background-color: var(--dark-violet-1);
  color: #fff;
  padding: 10rem 0;
  position: relative;
}

.header__right-pattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__container {
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__heading-container {
  width: 45%;
}

.header__small-border {
  width: 30%;
  border-top: .1rem solid #fff;
}

.header__heading {
  font-size: 7rem;
  font-weight: 400;
  margin: 5rem 0 3rem;
  line-height: 6rem;
  width: 95%;
}

.header__paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Karla", sans-serif;
  line-height: 2.5rem;
}

.header__btn {
  color: #fff;
  border: 2px solid #fff;
  margin-top: 3rem;
}

.header__btn:hover {
  background-color: #fff;
  color: var(--dark-violet-1);
}

.header__image {
  position: absolute;
  top: 0;
  right: 0;
}

.header__left-pattern {
  position: absolute;
  bottom: -62%;
  left: 0;
  z-index: 1;
}

.content {
  margin: 15% auto;
  width: var(--container-width);
  max-width: 100%;
}

.content__small-border {
  width: 15%;
  border-top: 0.1rem solid var(--gray-blue-1);
}

.content__heading {
  font-size: 7rem;
  font-family: "DM Serif Display", sans-serif;
  color: #292626;
  margin: 4rem 0 6rem 0;
}

.content__grid-items {
  margin-bottom: 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 15rem);
  grid-gap: 2rem;
}

.content__grid-items .grid__grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__grid-items .grid__icon {
  margin-bottom: 3rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content__grid-items .grid__heading {
  font-size: 3rem;
  color: #292626;
  margin-bottom: 2rem;
}

.content__grid-items .grid__paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Karla";
  color: var(--gray-blue-2);
  letter-spacing: .05rem;
}

.content__cta {
  background-color: var(--dark-violet-1);
  color: #fff;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__cta-heading {
  font-family: "DM Serif Display", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  padding: 5rem 7rem;
  width: 52%;
}

.content__button-container {
  margin-right: 5rem;
  z-index: 1;
}

.content__btn {
  color: #fff;
  border: 2px solid #fff;
}

.content__btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--dark-violet-1);
}

.content__cta-pattern {
  position: absolute;
  top: 0;
  right: 0;
}

.btn {
  background-color: transparent;
  font-family: "Karla";
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem 2.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer {
  background-color: #f5f5f5;
  font-size: 1.3rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: var(--gray-blue-2);
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 2rem auto;
  position: relative;
}

.footer__container {
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.footer__top {
  padding: 5rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pattern-bottom {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
}

.footer__social-container > img {
  margin: 0 .5rem;
}

.footer__social-container > img:hover {
  cursor: pointer;
  background-color: var(--dark-violet-1);
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer__grid-item {
  list-style-type: none;
}

.footer__grid-item > :first-child {
  margin: 4rem 0 3rem;
}

.footer__grid-item > li > a {
  color: var(--dark-violet-1);
  display: inline-block;
  margin-bottom: 1rem;
}

.footer__grid-item > li > a:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 767px) {
  .navigation__hamburger {
    display: block;
  }
  .navigation__nav-items {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation__nav-items.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1440px) {
  .navigation {
    width: 80%;
  }
  .header__container {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */