@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --gray-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  font-size: 62.5%;
  background-color: var(--light-gray);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-light {
  font-size: 3rem;
  font-weight: 200;
}

.header-dark {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.header-paragraph {
  font-size: 1.5rem;
  text-align: center;
  color: var(--gray-blue);
  font-weight: 200;
  width: 50rem;
  margin-bottom: 3rem;
}

.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outer .cards-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.outer .cards-container .card {
  font-size: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.2);
  width: 40rem;
  height: 30rem;
  border-radius: .5rem;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.outer .cards-container .card-heading {
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.outer .cards-container .card-paragraph {
  color: var(--gray-blue);
}

.outer .cards-container .card-icon {
  margin-top: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.outer .cards-container .card-supervisor {
  border-top: 0.5rem solid var(--cyan);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.outer .cards-container .card-team-builder {
  border-top: 0.5rem solid var(--red);
}

.outer .cards-container .card-karma {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  border-top: 0.5rem solid var(--orange);
}

.outer .cards-container .card-calculator {
  border-top: 0.5rem solid var(--blue);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  margin-top: 4rem;
}

footer .attribution {
  font-size: 1.1rem;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 1300px) {
  html, body {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1050px) {
  html, body {
    font-size: 40%;
  }
}

@media only screen and (max-width: 850px) {
  .outer {
    margin-top: 3rem;
  }
  .outer .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .outer .cards-container .card-karma {
    border-top: 0.5rem solid var(--orange);
    -ms-grid-column: 1;
    grid-column: 1 / 1;
  }
  .outer .cards-container .card-calculator {
    border-top: 0.5rem solid var(--blue);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .outer .cards-container .card-supervisor {
    border-top: 0.5rem solid var(--cyan);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (max-width: 580px) {
  .container {
    margin: 12rem 0;
  }
  .header {
    width: 75%;
  }
  .header-paragraph {
    width: 100%;
  }
  .outer .cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .outer .cards-container .card-karma {
    border-top: 0.5rem solid var(--orange);
    -ms-grid-column: 1;
    grid-column: 1 / 1;
  }
  .outer .cards-container .card-calculator {
    border-top: 0.5rem solid var(--blue);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .outer .cards-container .card-supervisor {
    border-top: 0.5rem solid var(--cyan);
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */